body {
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 12px;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  font-size: 34px;
  margin-top: 0px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

.tombol {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

label {
  margin-bottom: 5px;
}

input[type="number"],
select {
  margin-bottom: 10px;
  padding: 5px;
}

button {
  padding: 8px 15px;
  width: 120px;
  margin-bottom: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.result-container {
  margin-top: 20px;
}

#result {
  font-size: 20px;
  font-weight: bold;
  text-align: justify;
}

#explanation {
  margin-top: 5px;
  font-size: 14px;
}
